* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, gr240een, bl240ue);
}

section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/*.search {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  width: 100%;
  cursor: pointer;
  border: 2px solid rgb(167, 167, 167);
}*/

.search {
  padding: 10px;
  border-color: #e1e1e1;
  border-radius: 5px;
  border-width: 1px;
  font-size: 15px;
  /*margin-top: 15px;
  margin-left: 15px;*/
  width: 100%;
}

.sidebar {
  padding: 10px;
  /*padding-button*/
  width: 20%;
  border-right: 2px solid grey;
}

img {
  max-width: 40px;
  /*border-radius: 20px;*/
}

.contact {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding-top: 40px;
}

span {
  font-size: 20px;
  color: green;
}

.contact-list {
  /*padding: 20px;*/
  margin-left: 20px;
}


.contact-aiden {

  background-color: #e4f2f7;
  display: inline-block;

}

.status {
  color: #c3aca3;
  font-size: 12px;
  /*margin-top: 5px;*/
}

.status-online::before {
  content: "🟢";
  width: 10px;
}

.status-offline::before {
  content: "🔴";
  width: 10px;
}

.chat-header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  gap: 5px;
}

.chat-actions {
  display: flex;
  margin-right: 60px;
  gap: 5px;
}

.chat {
  width: 90%;
  /*flex: auto;*/
}

.chat-header {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;

}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 20px;
  background-color: f6f8f9;
  border-bottom: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
}

.message-sent {
  justify-items: flex-end;
  background-color: #e4f2f7;
  margin-left: auto;
  padding: 7px;
  border-radius: 10px;
}

.message-received {
  background-color: #e1e1e1;
  margin-right: auto;
  padding: 7px;
  border-radius: 10px;
}

.chat-actions {
  padding: 30px;
  display: flex;
  gap: 20px;
}

button {
  font-size: 15px;
  border: 2px solid white;
  color: white;
  background-color: white;
  border-radius: 90%;
  cursor: pointer;

}

button:hover {
  background-color: #e1e1e1;
}

@media(max-width: 880px) {}