* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, gr240een, bl240ue);
}

section {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.search {
  padding: 10px;
  border-color: #e1e1e1;
  border-radius: 5px;
  border-width: 1px;
  font-size: 15px;
  width: 100%;
}

.sidebar {
  padding: 10px;
  width: 20%;
  border-right: 2px solid grey;
}

img {
  max-width: 40px;
  border-radius: 100%;
}

.contact-list {
  margin-left: 20px;
}

.contact {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 10px;
}

span {
  font-size: 20px;
  color: green;
}

.aiden {
  background-color: #e1e1e1;
  border-radius: 3px;
}

.status-online {
  color: #c3aca3;
  font-size: 12px;
}

.status-online::before {
  content: "🟢";
  width: 10px;
}

.status-offline {
  color: #c3aca3;
  font-size: 12px;
}

.status-offline::before {
  content: "🔴";
  width: 10px;
}

.chat {
  width: 80%;
}

.chat-header {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 20%;
  background-color: #f6f8f9;
  border-bottom: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
}

.message-sent {
  justify-items: flex-end;
  background-color: #e4f2f7;
  margin-left: auto;
  padding: 7px;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 15px;
}

.message-received {
  background-color: #e1e1e1;
  margin-right: auto;
  padding: 7px;
  border-radius: 10px;
}

.chat-actions {
  padding: 30px;
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
  padding-top: 3px;
}

button {
  font-size: 15px;
  border: 1px solid white;
  color: white;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #e1e1e1;
}

.chat-footer {
  display: flex;
  padding: 15px;
  gap: 10px;
}


@media(max-width: 880px) {
  .sidebar {
    width: 30%;

    .messege-sent {
      padding-right: 60%;
    }
  }

  @media (max-width: 480px) {
    .sidebar {
      display: none;
    }

    .chat-messages {
      width: 100%;
    }
  }